pin-depends: [
  [
    "ppx_irmin.dev"
    "git+https://github.com/mirage/irmin#38c747382044c9bd74953a7bfe52934f9beb2503"
  ]
  [
    "irmin.dev"
    "git+https://github.com/mirage/irmin#38c747382044c9bd74953a7bfe52934f9beb2503"
  ]
  [
    "irmin-git.dev"
    "git+https://github.com/mirage/irmin#38c747382044c9bd74953a7bfe52934f9beb2503"
  ]
  [
    "irmin-fs.dev"
    "git+https://github.com/mirage/irmin#38c747382044c9bd74953a7bfe52934f9beb2503"
  ]
  [
    "irmin-graphql.dev"
    "git+https://github.com/mirage/irmin#38c747382044c9bd74953a7bfe52934f9beb2503"
  ]
  [
    "irmin-http.dev"
    "git+https://github.com/mirage/irmin#38c747382044c9bd74953a7bfe52934f9beb2503"
  ]
  [
    "irmin-layers.dev"
    "git+https://github.com/mirage/irmin#38c747382044c9bd74953a7bfe52934f9beb2503"
  ]
  [
    "irmin-pack.dev"
    "git+https://github.com/mirage/irmin#38c747382044c9bd74953a7bfe52934f9beb2503"
  ]
  [
    "irmin-tezos.dev"
    "git+https://github.com/mirage/irmin#38c747382044c9bd74953a7bfe52934f9beb2503"
  ]
  [
    "irmin-unix.dev"
    "git+https://github.com/mirage/irmin#38c747382044c9bd74953a7bfe52934f9beb2503"
  ]
  [
    "irmin-test.dev"
    "git+https://github.com/mirage/irmin#38c747382044c9bd74953a7bfe52934f9beb2503"
  ]
  [
    "index.dev"
    "git+https://github.com/mirage/index#dd9a501dc48d05c79f85049681f3b3bc079759aa"
  ]
  [
    "repr.dev"
    "git+https://github.com/mirage/repr#fb41348ef249e249bf127fe5467f9e9f865c1c33"
  ]
  [
    "ppx_repr.dev"
    "git+https://github.com/mirage/repr#fb41348ef249e249bf127fe5467f9e9f865c1c33"
  ]
]

